# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
/build/

# Generated documentation
**/doc/api/

# iOS
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/.last_build_id

# Android
/android/.gradle/
/android/app/debug
/android/app/profile
/android/app/release
/android/key.properties

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# Other
*.keystore
.gradle/
local.properties
